* {
  margin: 0;
  box-sizing: border-box;
  background-color: #ede5da;
}

.mainPage {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
  height: 100vh;
  margin: 0 2rem;
}

.heading {
  color: rebeccapurple;
}
